{% extends "AvkdevYmParserBundle::layout.html.twig" %}

{% block body -%}
    <h1>Редактирование задачи</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Назад к списку
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>



</ul>
{% endblock %}
